body {
    background: #1a1a1a;
    margin: 0;
}

h1 {
    text-align: center;
    font-size: 60px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 24px;
    font-weight: normal;
    background-color: grey;
    padding: 5px 10px;
    margin: 0 0 10px 0;
}

h5 {
    font-size: 24px;
    text-align: center;
}

.navbar-dark {
    background: rgba(0, 0, 0, 0.3);
    font-size: 20px;
    font-weight: bolder;
}

.col-lg-6 {
    color: white;
}

.tumblr {
    opacity: 1.0;
    transition: background .2s ease-in-out;
    height: 50px;
    width: 50px;
    display: block;
    background: url('images/Tumblr.png');
    background-size: 50px;
}

.tumblr:hover {
    opacity: 1.0;
    transition: background .5s ease-in-out;
    height: 50px;
    width: 50px;
    display: block;
    background: url('images/TumblrHover.png');
    background-size: 50px;
}

.instagram {
    opacity: 1.0;
    transition: background .2s ease-in-out;
    height: 50px;
    width: 50px;
    display: block;
    background: url('images/Instagram.png');
    background-size: 50px;
}

.instagram:hover {
    opacity: 1.0;
    transition: background .5s ease-in-out;
    height: 50px;
    width: 50px;
    display: block;
    background: url('images/InstagramHover.png');
    background-size: 50px;
}

.linkedin {
    opacity: 1.0;
    transition: background .2s ease-in-out;
    height: 50px;
    width: 50px;
    display: block;
    background: url('images/LinkedIn.png');
    background-size: 50px;
}

.linkedin:hover {
    opacity: 1.0;
    transition: background .5s ease-in-out;
    height: 50px;
    width: 50px;
    display: block;
    background: url('images/LinkedInHover.png');
    background-size: 50px;
}